
@{
    ViewBag.Title = "FriendListModal";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Danh sách thành viên</h4>
</div>
<div class="modal-body">
    <div class="row">
        
        <div class="col-sm-6" style="margin-bottom:20px;">
            <div style="border: 1px solid #e9ebee; overflow:hidden;">
                <div style="float:left; display:block; width:150px; height:150px;">
                    <img style="width:100%;" src="http://srf-reproduction.org/wp-content/uploads/2015/11/srf-banner-image-150x150.jpg" />
                </div>
                <div style="float:left; display:block; margin-left:15px;">
                    <h3>Huỳnh Thanh Quy</h3>
                    <p>Bóng rổ, bóng đá, cầu lông</p>
                    <button type="button" class="btn btn-default"><i class="fa fa-user-plus" aria-hidden="true"></i> Theo dõi</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="margin-bottom:20px;">
            <div style="border: 1px solid #e9ebee; overflow:hidden;">
                <div style="float:left; display:block; width:150px; height:150px;">
                    <img style="width:100%;" src="http://srf-reproduction.org/wp-content/uploads/2015/11/srf-banner-image-150x150.jpg" />
                </div>
                <div style="float:left; display:block; margin-left:15px;">
                    <h3>Huỳnh Thanh Quy</h3>
                    <p>Bóng rổ, bóng đá, cầu lông</p>
                    <button type="button" class="btn btn-default"><i class="fa fa-user-plus" aria-hidden="true"></i> Theo dõi</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="margin-bottom:20px;">
            <div style="border: 1px solid #e9ebee; overflow:hidden;">
                <div style="float:left; display:block; width:150px; height:150px;">
                    <img style="width:100%;" src="http://srf-reproduction.org/wp-content/uploads/2015/11/srf-banner-image-150x150.jpg" />
                </div>
                <div style="float:left; display:block; margin-left:15px;">
                    <h3>Huỳnh Thanh Quy</h3>
                    <p>Bóng rổ, bóng đá, cầu lông</p>
                    <button type="button" class="btn btn-default"><i class="fa fa-user-plus" aria-hidden="true"></i> Theo dõi</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
</div>

