<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.sportssocialnetwork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainBottomBarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PostActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.PostDetailActivity"
            android:label="@string/title_activity_post_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PlaceDetailActivity"
            android:label="@string/title_activity_place_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ImageViewerActivity"
            android:label="@string/title_activity_image_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BookingActivity"
            android:label="@string/title_activity_booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CheckInActivity"
            android:label="@string/title_activity_check_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyOrderActivity"
            android:label="@string/title_activity_my_order"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".firebase.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.GroupActivity"
            android:label="@string/title_activity_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FriendActivity"
            android:label="@string/title_activity_friend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GroupMemberActivity"
            android:label="@string/title_activity_group_member"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GroupInformationActivity"
            android:label="@string/title_activity_group_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddMemberActivity"
            android:label="@string/title_activity_add_member"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CreateGroupActivity"
            android:label="@string/title_activity_create_group"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>