################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/bin
/Web/SportsSocialNetwork/SportsSocialNetwork/packages
