################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/bin
/
Web/SportsSocialNetwork/SportsSocialNetwork/Database/bin/,Web/SportsSocialNetwork/SportsSocialNetwork/Database/obj/
Web/SportsSocialNetwork/SportsSocialNetwork/Database/bin/
Web/SportsSocialNetwork/SportsSocialNetwork/Database/obj/
*.txt
/Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/obj/Debug/edmxResourcesToEmbed/Models/Entities
*.dbmdl
Web/SportsSocialNetwork/SportsSocialNetwork/.vs/config/applicationhost.config
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/bootstrap/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/bootstrap/css/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/bootstrap/fonts/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/bootstrap/js/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/AutoFill/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/AutoFill/css/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/AutoFill/examples/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/AutoFill/images/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/AutoFill/js/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/ColReorder/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/ColReorder/css/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/ColReorder/examples/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/ColReorder/images/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/ColReorder/js/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/ColVis/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/ColVis/css/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/ColVis/examples/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/ColVis/js/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/FixedColumns/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/FixedColumns/css/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/FixedColumns/examples/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/FixedColumns/js/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/FixedHeader/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/FixedHeader/css/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/FixedHeader/examples/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/FixedHeader/js/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/KeyTable/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/KeyTable/css/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/KeyTable/examples/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/KeyTable/js/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Responsive/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Responsive/css/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Responsive/examples/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Responsive/examples/child-rows/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Responsive/examples/display-control/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Responsive/examples/initialisation/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Responsive/examples/styling/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Responsive/js/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Scroller/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Scroller/css/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Scroller/examples/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Scroller/examples/data/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Scroller/images/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/Scroller/js/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/TableTools/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/TableTools/css/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/TableTools/examples/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/TableTools/images/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/TableTools/images/psd/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/TableTools/js/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/extensions/TableTools/swf/Iconr
Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/Content/assets/js/datatables/images/Iconr
