################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/bin
/Web/SportsSocialNetwork/SportsSocialNetwork/packages
Web/SportsSocialNetwork/SportsSocialNetwork/Database/bin/,Web/SportsSocialNetwork/SportsSocialNetwork/Database/obj/
Web/SportsSocialNetwork/SportsSocialNetwork/Database/bin/
Web/SportsSocialNetwork/SportsSocialNetwork/Database/obj/
*.txt
/Web/SportsSocialNetwork/SportsSocialNetwork/SportsSocialNetwork/obj/Debug/edmxResourcesToEmbed/Models/Entities
*.dbmdl
Web/SportsSocialNetwork/SportsSocialNetwork/Database/Database.jfm
