@model SportsSocialNetwork.Models.Entities.Sport
@{
    ViewBag.Title = "Create";
}

<style>
    dt, dd 
    {
        font-size: 1.1em;
    }

    .title, .detail {
        font-size: 1.1em;
        color: #000;
    }

    .title {
        font-weight: bold;
        text-align: left;
    }

    .detail {
        margin-left: 2px;
    }
</style>


<form id="create-sport-form">
   @* @Html.HiddenFor(m => m.Id)*@
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Thêm mới</h4>
    </div>
    <div class="modal-body" id="modalBody">
        <div class="row">
            <div class="panel ">
                <div class="panel-heading">
                    <center><h4>Thêm một môn thể thao</h4></center>
                </div>
                <div class="panel-body">
                    <div>
                        @*@Html.ValidationSummary()*@
                        <table align="center">
                            <tr>
                                <td>Tên môn thể thao:</td>
                                <td>@Html.TextBoxFor(m => m.Name, new { @class = "form-control input-lg border=0"})</td>
                                @*@Html.ValidationMessageFor(m => m.Name, "", new { @class = "help-block text-danger" })*@
                            </tr>
                            <tr>
                                <td>Mô tả:</td>
                                <td>@Html.TextAreaFor(m => m.Description, new { @class = "form-control input-lg border = 1"})</td>
                            </tr>                     
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
        <button type="submit" class="btn btn-default">Thêm mới</button>
    </div>
</form>
