
@{
    ViewBag.Title = "SearchResultNotFound";
    Layout = "~/Views/Shared/_SSNLayout.cshtml";
}

<div class="row" style="font-family:sans-serif">
    <div class="col-sm-12">
        <div id="activities" class="text-center padding-top-50" role="tabpanel">
            <img src="~/Content/images/hss-alert-icon.png" />
            <h2>Trang bạn yêu cầu có thể đã bị xóa</h2>
        </div>
    </div>
</div>
