@model SportsSocialNetwork.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div>
            <label class="floating-label">Mật khẩu cũ</label>
            @Html.PasswordFor(model => model.OldPassword)
        </div>
        <div>
            <label class="floating-label">Mật khẩu mới</label>
            @Html.PasswordFor(model => model.NewPassword)
        </div>
        <div>
            <label class="floating-label">Xác nhận mật khẩu mới</label>
            @Html.PasswordFor(model => model.ConfirmPassword)
        </div>
        <div><input type="submit" value="Đổi mật khẩu" name="btnChangePass"</div>
    </div>
}


