body {
}

.text-black{
    color:#000;
    font-weight:bold;
}

.imgAvatar {
    height:50px !important;
    width:50px;
}

.groupAvatar {
    height: 130px !important;
    width: 130px;
}

/*========Area comment=====================================*/

/*.textarea-container {
    position: relative;
    width: 50%;
}

textarea, .textarea-size {
    min-height: 25px;
    font-family: sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid;
    overflow: hidden;
    width: 100%;
}

textarea {
    height: 100%;
    position: absolute;
    resize: none;
    white-space: normal;
}

.textarea-size {
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}*/