@model SportsSocialNetwork.Models.ViewModels.SearchPlaceViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BookingFieldLayout.cshtml";
    var selectList = ViewBag.SportList as IEnumerable<SelectListItem>;
    var provinceList = ViewBag.ProvinceList as IEnumerable<SelectListItem>;
    var districtList = new List<SelectListItem>();
}

<style>
    .imgWH100 {
        width: 100%;
        vertical-align: middle;
        height: 100%;
    }

    .table_image {
        float: left;
        width: 25%;
        height: 160px;
        text-align: center;
    }

    .table_text {
        float: left;
        width: 70%;
        margin-left: 10px;
    }

    .table_text_title {
        height: 40px;
        font-weight: bold;
        font-size: 25px;
    }

    .table_text_des3 {
        height: 30px;
        color:black;
        font-size: 14px;
        font-weight:bold
         
    }
    .pagination{
        font-size:14px
    }
    .pagination>.active>a, .pagination>.active>a:focus, 
    .pagination>.active>a:hover, .pagination>.active>span, 
    .pagination>.active>span:focus, .pagination>.active>span:hover{
        background-color:black;
        border-color:black;
        border-radius:5px
    }
    .pagination>li>a, .pagination>li>span{
        background-color:#76838f;
        border-color:#76838f;
        color:black;
        border-radius:5px
    }
    .pagination>li:last-child>a, .pagination>li:last-child>span{
        background-color:white;
        border-radius:5px
    }
    .pagination>li:first-child>a, .pagination>li:first-child>span{
        background-color:white;
        border-radius:5px
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
     color: transparent;
     background-color: transparent;
     background-image: unset;
     border: none;
    }
</style>
<div class="col-md-9">
    <div class="panel">
        <header class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bars" aria-hidden="true"></i> Danh sách sự kiện</h3>
        </header>
        <div class="panel-body">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="col-sm-12">
                    <table class="table table-hover dataTable table-striped width-full dtr-inline" data-plugin="dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel" style="text-align:center">
        <header class="panel-heading" style="background-color:#ff6a00; border-radius:0px;margin-bottom:20px">
            <h3 class="panel-title" style="font-family:sans-serif;color:#fff!important">Tìm kiếm sự kiện</h3>
        </header>
        <div class="panel-body">
            <div class="form-group">
                @Html.DropDownListFor(m => m.Province, provinceList, "--Tỉnh/Thành phố--", new { @class = "bs-select-hidden form-control input-sm droplist", @id = "province" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.District, districtList, "--Quận/Huyện--", new { @class = "bs-select-hidden form-control input-sm droplist", @id = "district" })
            </div>
            <p style="color:gray;font-size:13px;text-align:center">———hoặc———</p>
            <div class="form-group">
                <button type="button" class="btn btn-dark" id="findAround" style="width:90%;font-size:13px">
                    @*<i class="fa fa-location-arrow" aria-hidden="true"></i>*@Tìm xung quanh
                </button>
                <input type="hidden" id="lat" />
                <input type="hidden" id="lng" />
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        

        $("#province").on("change", function () {
            var provinceName = $('#province').val();
            var ddl = $('#district');
            ddl.empty();
            $(document.createElement('option'))
                    .attr('value', '')
                    .text("--Chọn quận/huyện--")
                    .appendTo(ddl);
            if (provinceName != null) {
                $.ajax({
                    url: "/Place/GetDistrict",
                    type: 'POST',
                    data: {
                        'provinceName': provinceName,
                    },
                    dataType: 'json',
                    success: function (data) {

                        $(data).each(function () {
                            $(document.createElement('option'))
                                .attr('value', this.Value)
                                .text(this.Text)
                                .appendTo(ddl);
                        });
                    }
                });
            }
        });

        $(".droplist").on("change", function () {
            $("#lat").val("");
            $("#lng").val("");
            InitDatatable();
            RefreshTable();
        })

        $("#findAround").click(function () {
            checkLocation();
        });

    function RefreshTable() {
        var oTable = $("#DataTables_Table_0").dataTable();
        oTable._fnPageChange(0);
        oTable._fnAjaxUpdate();

    }

    function InitDatatable() {
        $("#DataTables_Table_0").DataTable({
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "bSort": true,
            "sAjaxSource": "/Event/GetData",
            "bProcessing": true,
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "province", "value": $('#province').val() },
                    { "name": "district", "value": $('#district').val() },
                    { "name": "lat", "value": $('#lat').val() },
                    { "name": "lng", "value": $('#lng').val() });
            },
            "aLengthMenu": [10, 20, 100],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có kết quả phù hợp",
                "sInfo": "Hiển thị _START_ - _END_ trong số _TOTAL_ dòng",
                "sEmptyTable": "Không tìm thấy kết quả nào",
                "sInfoFiltered": "",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Xin đợi trong giây lát...",
                "oPaginate": {
                    "sFirst": "Về đầu",
                    "sLast": "Về cuối",
                    "sNext": "Trang kế >",
                    "sPrevious": "< Trang trước"
                },
            },
            "aoColumnDefs": [
                {
                     //"sWidth" : "10%",
                     "aTargets": [0,2,3,4,5,6],
                     "bVisible": false,
                     "bSortable": false
                 },
                 {
                     //"sWidth" : "10%",
                     "aTargets": [1],
                     "bSortable": false,
                     "mRender": function (data, type, o) {
                         return "<div class='table_image'><img src='" + o[1] + "' class='imgWH100'></div><div class='table_text'>" +
                             "<div class='table_text_title'><a style='color:#ff6a00;text-decoration:none' href='/Event/ViewDetail/" + o[0] + "'>" + o[2] +
                             "</a></div><div class='table_text_des3'><span style='text-decoration: underline'>Thời gian:</span> " + o[3] +
                             "</div><div class='table_text_des3'><span style='text-decoration: underline'>Địa điểm:</span> <a style='text-decoration:none;color:#ff6a00' href='/Place/ViewDetail/" + o[4] + "'>" + o[5] +
                             "</a></div><div class='table_text_des3'><span style='text-decoration: underline'>Trạng thái:</span> "
                             + o[6] + "</div></div>";

                     }
                 },

            ],
            "bAutoWidth": false

        });
    }

    $(document).ready(function () {
        InitDatatable();
        RefreshTable();
    });

    function checkLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            NProgress.done();
            sweetAlert("Oops...", "Vị trí không hỗ trợ trên trình duyệt này.", "error")

        }
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                NProgress.done();
                swal({
                    title: "Oops...",
                    text: "Bạn chưa mở GPS hả!",
                    type: "error",
                    confirmButtonText: "Ờ"
                }, function () {
                    location.reload();
                });

                break;
            case error.POSITION_UNAVAILABLE:
                NProgress.done();
                swal({
                    title: "Oops...",
                    text: "Thông tin vị trí không chính xác!",
                    type: "error",
                    confirmButtonText: "Ờ"
                }, function () {
                    location.reload();
                });

                break;
            case error.TIMEOUT:
                NProgress.done();
                swal({
                    title: "Oops...",
                    text: "Vượt quá thời gian. Xin thử tải lại trang!",
                    type: "error",
                    confirmButtonText: "Ờ"
                }, function () {
                    location.reload();
                });

                break;
            case error.UNKNOWN_ERROR:
                NProgress.done();
                swal({
                    title: "Oops...",
                    text: "Lỗi là gì nhỉ. Xin liên hệ BTC!",
                    type: "error",
                    confirmButtonText: "Ờ"
                }, function () {
                    location.reload();
                });
                break;
        }
    }
    function showPosition(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        $("#lat").val(lat);
        $("#lng").val(lng);
        InitDatatable();
        RefreshTable();
    }


    </script>
}

