@model SportsSocialNetwork.Models.ViewModels.OrderViewModel

@{
    ViewBag.Title = "NganLuong";
    Layout = "~/Views/Shared/_BookingFieldLayout.cshtml";
}


    <style>
        .kode-thumb-caption li {
            margin: 5px 0;
        }
    </style>

<div class="container body-content">
    <div class="box">
        <div class="box-body">
            <div class="kode-event-blog3 no-margin" style="box-shadow: none; border: none">
                <figure style="background-image:url(''), url('/Content/images/no-thumbnail.jpg'); ">
                </figure>
                <div class="kode-thumb-caption">
                    <a href="@Url.Action("Event", "Home")">
                        <h4 style="color: #3c8dbc"></h4>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="box" style="padding: 0 20px 10px 20px">
        <div class="box-header">
            <h3 class="no-margin">Chọn phương thức thanh toán</h3>
        </div>
        <div class="box-body">
            <div class="bs-callout bs-callout-danger" style="display: none;" id="callout-btndropdown-dependency">
                <h4 id="txtserverkt"></h4>
            </div>
            <form id="onlineform" action="@Url.Action("Payment", "Payment")" method="get" class="form-horizontal">
                <input type="hidden" name="ticketId" />
                <input type="hidden" name="eventId" />
                <input type="hidden" name="userId" />
                <ul class="list-content">
                    <li class="active">
                        <label>
                            <input required type="radio" value="NL" name="option_payment" />
                            Thanh toán bằng Ví điện tử NgânLượng
                        </label>
                        <div class="boxContent">
                            <p>
                                Giao dịch. Đăng ký ví NgânLượng.vn  <a href="https://www.nganluong.vn/?portal=nganluong&amp;page=user_register" target="_blank">tại đây</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <label><input type="radio" value="ATM_ONLINE" name="option_payment" /> Thanh toán online bằng thẻ ngân hàng nội địa</label>
                        <div class="boxContent">
                            <p>
                                <i>
                                    <span style="color:#ff5a00;font-weight:bold;text-decoration:underline;">Lưu ý</span>: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.
                                </i>
                            </p>

                            <ul class="cardList clearfix">

                                <li class="bank-online-methods ">
                                    <label for="vcb_ck_on">
                                        <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                        <input type="radio" value="VCB" name="bankcode" id="vcb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="vnbc_ck_on">
                                        <i class="DAB" title="Ngân hàng Đông Á"></i>
                                        <input type="radio" value="DAB" name="bankcode" id="vnbc_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="tcb_ck_on">
                                        <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                        <input type="radio" value="TCB" name="bankcode" id="tcb_ck_on" />
                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_mb_ck_on">
                                        <i class="MB" title="Ngân hàng Quân Đội"></i>
                                        <input type="radio" value="MB" name="bankcode" id="sml_atm_mb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="shb_ck_on">
                                        <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                        <input type="radio" value="SHB" name="bankcode" id="shb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_vib_ck_on">
                                        <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                        <input type="radio" value="VIB" name="bankcode" id="sml_atm_vib_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_vtb_ck_on">
                                        <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                        <input type="radio" value="ICB" name="bankcode" id="sml_atm_vtb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_exb_ck_on">
                                        <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                        <input type="radio" value="EXB" name="bankcode" id="sml_atm_exb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_acb_ck_on">
                                        <i class="ACB" title="Ngân hàng Á Châu"></i>
                                        <input type="radio" value="ACB" name="bankcode" id="sml_atm_acb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_hdb_ck_on">
                                        <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                        <input type="radio" value="HDB" name="bankcode" id="sml_atm_hdb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_msb_ck_on">
                                        <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                        <input type="radio" value="MSB" name="bankcode" id="sml_atm_msb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_nvb_ck_on">
                                        <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                        <input type="radio" value="NVB" name="bankcode" id="sml_atm_nvb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_vab_ck_on">
                                        <i class="VAB" title="Ngân hàng Việt Á"></i>
                                        <input type="radio" value="VAB" name="bankcode" id="sml_atm_vab_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_vpb_ck_on">
                                        <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>
                                        <input type="radio" value="VPB" name="bankcode" id="sml_atm_vpb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_scb_ck_on">
                                        <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>
                                        <input type="radio" value="SCB" name="bankcode" id="sml_atm_scb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="ojb_ck_on">
                                        <i class="OJB" title="Ngân hàng Đại Dương"></i>
                                        <input type="radio" value="OJB" name="bankcode" id="ojb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="bnt_atm_pgb_ck_on">
                                        <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>
                                        <input type="radio" value="PGB" name="bankcode" id="bnt_atm_pgb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="bnt_atm_gpb_ck_on">
                                        <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>
                                        <input type="radio" value="GPB" name="bankcode" id="bnt_atm_gpb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="bnt_atm_agb_ck_on">
                                        <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>
                                        <input type="radio" value="AGB" name="bankcode" id="bnt_atm_agb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="bnt_atm_sgb_ck_on">
                                        <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>
                                        <input type="radio" value="SGB" name="bankcode" id="bnt_atm_sgb_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="bnt_atm_nab_ck_on">
                                        <i class="NAB" title="Ngân hàng Nam Á"></i>
                                        <input type="radio" value="NAB" name="bankcode" id="bnt_atm_nab_ck_on" />

                                    </label>
                                </li>

                                <li class="bank-online-methods ">
                                    <label for="sml_atm_bab_ck_on">
                                        <i class="BAB" title="Ngân hàng Bắc Á"></i>
                                        <input type="radio" value="BAB" name="bankcode" id="sml_atm_bab_ck_on" />

                                    </label>
                                </li>

                            </ul>

                        </div>
                    </li>
                    <li>
                        <label><input type="radio" value="VISA" name="option_payment" /> Thanh toán bằng thẻ Visa hoặc MasterCard</label>

                    </li>
                </ul>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Họ Tên:</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" name="name" id="name" />
                </div>
                    </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <input required type="email" class="form-control" name="email" id="email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-2 control-label">Số Điện thoại:</label>
                    <div class="col-sm-10">
                        <input required type="number" class="form-control" name="phone" id="phone" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-danger btn-flat" value="Thanh toán" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script language="javascript">
        $('input[name="option_payment"]').bind('click', function () {
            $('.list-content li').removeClass('active');
            $(this).parent().parent('li').addClass('active');
        });
    </script>
}
