
@{
    ViewBag.Title = "PaymentFail";
    Layout = "~/Views/Shared/_BookingFieldLayout.cshtml";
}

<div class="panel padding-15" style="height:300px">
    <h3>Giao dịch không thành công, bạn hãy thử lại vào lúc khác</h3> 
    Quay về <a href="@Url.Action("Index","Place")"> trang chủ</a>.
</div>

